@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  box-shadow: 0px 0px 15px 5px #0000001a;
}
.shadow {
  box-shadow: 0px 0px 10px 5px #0000000d;
}
.footer {
  background-color: rgba(0, 0, 0, 0.898);
}
.five2 {
  background-color: rgba(0, 0, 0, 0.898);
}
/* Your CSS */
.shadow-top {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
}
